.wprcb-cookie-bar {
    width: 100%;
    background: #000;
    position: fixed;
    bottom: 0;
    color: white;
    z-index: 9999;
    overflow: hidden;
    height: fit-content;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    padding: 3px 10px;
}
.wprcb-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wprcb-cookie-bar a.accept-button {
    background: #ffdbcd;
    margin: 15px;
    box-sizing: border-box;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    word-break: keep-all;
    transition: background 100ms ease-in;
}
.wprcb-cookie-bar a.accept-button:hover {
    background: #e3f5d9;
}

.wprcb-cookie-bar a.learn-more {
    word-break: keep-all;
    white-space: nowrap;
}
.wprcb-cookie-bar p.wprcb-text {
    margin:0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}